@import "./../../../../../variables";

.home-teamitem-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    .home-teamitem-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .home-teamitem-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 34px;
        margin: 0;
        color: #38a5db;
    }
    .home-teamitem-job {
        font-size: 13px;
        font-family: "Open Sans", sans-serif;
        line-height: 18px;
        color: #011226;
        opacity: 0.5;
        margin-bottom: 8px;
    }
    .home-teamitem-shorttext {
        font-size: 12px;
        line-height: 18px;
        color: #45515f;
        margin-bottom: 12px;
    }
    .home-teamitem-buttons{
        display: flex;
    }
}
