@import "./../../../../../variables";

.home-teamitem-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 px(10);
    .home-teamitem-img {
        width: px(100);
        height: px(100);
        border-radius: 50%;
    }
    .home-teamitem-title {
        font-size: px(16);
        font-weight: 400;
        line-height: px(34);
        padding: 0;
        border: 0;
        margin: 0;
        color: #38a5db;
        background-color: transparent;
        cursor: pointer;
    }
    .home-teamitem-job {
        font-size: px(13);
        font-family: "Open Sans", sans-serif;
        line-height: px(18);
        color: #011226;
        opacity: 0.5;
        margin-bottom: px(8);
    }
    .home-teamitem-shorttext {
        font-size: px(12);
        line-height: px(18);
        color: #45515f;
        margin-bottom: px(12);
    }
    .home-teamitem-buttons{
        display: flex;
    }
}
