@import "./../../variables";

.menu {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px(2) px(16);
    margin: px(18) 0;
    background-color: white;
    z-index: 4;
  
    @media (min-width: $xl) {
        padding: px(2) px(136);
    }
}
