@import "./../../../../variables";

.home-team-title {
    font-size: px(16);
    line-height: px(34);
    letter-spacing: px(12);
    text-transform: uppercase;
    color: #1c1f83;
    text-align: center;
    margin: px(38) auto px(20);
}
.home-team-wrap {
    display: flex;
    padding: 0 px(16);
    margin-bottom: px(48);
    width: 180vw;
    transform: translateX(0vw);
    transition: 0.5s;
}
.home-team-wrap.home-team-shift {
    transform: translateX(-80vw);
}
.home-teamwrap-controller {
    display: flex;
    justify-content: center;
    margin: px(32) 0;
    input {
        display: none;
    }
    label {
        width: px(8);
        height: px(8);
        display: block;
        border-radius: 50%;
        margin: px(4);
        background-color: #c4c4c4;
        cursor: pointer;
    }
    input:checked + label {
        background-color: #4250bf;
    }
}

@media (min-width: $sm) {
    .home-team-wrap {
        width: 160vw;
    }
    .home-team-wrap.home-team-shift {
        transform: translateX(-60vw);
    }
}
@media (min-width: $lg) {
    .home-team-wrap {
        padding: 0 px(40);
        margin-bottom: px(88);
    }
    .home-teamwrap-controller {
        display: none;
    }
    .home-team-wrap {
        width: 100vw;
    }
    .home-team-wrap.home-team-shift {
        transform: translateX(0vw);
    }
}
@media (min-width: $max-width) {
    .home-team-wrap {
        padding: 0 px(134);
    }
}
