@import "./../../../variables";

.socialbuttons-button {
    width: px(30);
    height: px(30);
    margin: px(5);
    background-color: #63c7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    img {
        height: px(15);
    }
}

@media (min-width: $md) {
    .socialbuttons-button {
        width: px(40);
        height: px(40);
        margin: px(8);
        img {
            height: px(22);
        }
    }
}
