@import "./../../../variables";

.faq-item {
    overflow: hidden;
    border-radius: px(12);
    margin: 5px 0;
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: px(18);
        line-height: px(28);
        color: white;
        background-color: #3947b6;
        padding: px(10) px(24);
        border-radius: px(12);
        margin: 0 0 5px;
        cursor: pointer;
        .faq-item-buttonwrap {
            margin-left: px(10);
        }
        .faq-item-button {
            width: 10px;
            height: 10px;
            border-left: 3px solid white;
            border-bottom: 3px solid white;
            transform: translateY(-3px) rotate(-45deg);
        }
        .faq-item-button.faq-button-up {
            transform: translateY(0px) rotate(135deg);
        }
    }
    &-content {
        max-height: 0;
        font-size: px(18);
        line-height: px(22);
        margin: 0;
        transition: max-height 0.5s;
    }
    &-content.faq-content-show {
        max-height: 100vh;
        transition: max-height 2s;
    }
}

@media (min-width: $sm) {
}
