@import "./../../../../variables";

.menu-navigationitem {
    font-size: 18px;
    color: #1c2085;
    text-decoration: none;
    letter-spacing: 0.06em;
    padding: 8px 4px 6px;
}
.menu-navigationitem-active {
    border-bottom: 2px solid #5454d4;
}
