@import "./../../../../../../variables";

.home-team-socialbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: px(43);
    height: px(23);
    border: 1px solid rgba(127, 139, 152, 0.3);
    border-radius: px(3);
    margin: px(2) px(3);
    img {
        height: px(13);
    }
}
