@import "./../../../../variables";

.home-layer {
    width: 100%;
    height: 100%;
    max-height: px(500);
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
}

.home-oblique {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    &-background {
        position: absolute;
        border-radius: px(50);
        transform: rotate(14deg);
        transform-origin: right bottom;
    }
    &-background1 {
        background-color: #4250bf;
        width: 80%;
        height: 120%;
        left: -40%;
        bottom: px(30);
        box-shadow: 0 0 px(30) black;
    }
    &-background2 {
        background-color: $blue-dark;
        width: 110%;
        min-width: px(700);
        height: 100%;
        left: -30%;
        top: -30%;
    }
}

@media (min-width: $sm) {
    .home-layer {
        max-height: px(700);
    }
}
@media (min-width: $md) {
    .home-layer {
        max-height: px(900);
    }
}
