@import "./../../../../variables";

.home-header-title {
    font-weight: 700;
    color: white;
    font-size: px(24);
    line-height: px(32);
    letter-spacing: 0.05em;
}
.home-header-label {
    font-size: px(14);
    line-height: px(26);
    color: white;
    opacity: 0.7;
}
.home-header-form {
    display: flex;
    flex-direction: column;

    input,
    button {
        height: px(48);
        width: 100%;
        border: 0;
        border-radius: px(25);
        margin: px(8) 0;
    }
    input {
        padding: px(13) px(20);
    }
    button {
        font-size: px(17);
        font-weight: 600;
        letter-spacing: 0.1em;
        background-color: $blue;
        color: white;
        padding: 0;
        cursor: pointer;
    }
}

@media (min-width: $md) {
    .home-header-title {
        font-size: px(40);
        line-height: px(56);
    }
    .home-header-label {
        font-size: px(18);
    }
    .home-header-form {
        flex-direction: row;
        background-color: white;
        border-radius: px(25);
        margin: px(20) 0;
        input,
        button {
            margin: 0;
        }
        button {
            width: px(154);
            letter-spacing: 0;
        }
    }
}
@media (min-width: $lg) {
    .home-headertext-wrap {
        max-width: 40%;
    }
}
