//size
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$max-width: 1440px;

//colors
$blue: #38a5db;
$blue-dark: #3947b6;

//function px to rem
@function px($size) {
    @return ($size / 16) * 1rem;
}
