@import "./variables";

* {
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
.app-content {
    flex-grow: 1;
}

.page-wrap {
    max-width: $max-width;
    padding: px(32) px(20) px(30);
    margin: auto;
    h1 {
        font-weight: 600;
        font-size: px(24);
        line-height: px(32);
        color: #3947b6;
        padding: 0;
        margin: 0;
    }
    a {
        color: #3947b6;
    }
    a:hover {
        color: #252b42;
    }

    @media (min-width: $sm) {
        h1 {
            font-size: px(40);
            line-height: px(56);
            padding: 30px 0;
        }
    }
}
