@import "./../../../variables";

.home-header-wrap {
    position: relative;
    overflow: hidden;
    padding: px(32) px(20) px(30);
}
.home-header-content {
    width: 100%;
    min-height: px(520);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: px(1800);
    margin: auto;
}

@media (min-width: $sm) {
    .home-header-wrap {
        padding: px(80) px(40) px(30);
    }
}
@media (min-width: $lg) {
    .home-header-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}
@media (min-width: $max-width) {
    .home-header-content {
        padding: 0 px(134);
    }
}
