@import "./../../../../variables";

.home-buttondown {
    width: 100%;
    height: px(100);
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        width: px(30);
        height: px(30);
        border-radius: 50%;
        border: 1px solid #e7e7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        span,
        span::before,
        span::after {
            position: absolute;
            width: 2px;
            border-radius: 2px;
            background-color: white;
        }
        span {
            height: px(12);
        }
        span::before,
        span::after {
            content: "";
            height: px(8);
            transform-origin: bottom;
            bottom: px(1);
        }
        span::before {
            transform: rotate(50deg);
        }
        span::after {
            transform: rotate(-50deg);
        }
    }
}

@media (min-width: $sm) {
    .home-buttondown {
        height: px(220);

        a {
            height: px(60);
            width: px(60);
            span {
                height: px(20);
            }
            span::before,
            span::after {
                content: "";
                height: px(12);
            }
        }
    }
}
@media (min-width: $lg){
    .home-buttondown{
        order: 1;
    }
}
